<body>
  <div class="text-center my-5 title">
    <h1 class="text-black fs-3 fw-bolder">Courses</h1>
  </div>
    <table class="table coursesTable table-hover border bg-light ">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses; let i = index">
          <td>{{i+1}}</td>
          <td>{{course.id}}</td>
          <td>{{course.name}}</td>
        </tr>
      </tbody>
    </table>
  
    <button *ngIf="!add" class="btn btn-primary mt-3 addCourse" type="submit" (click)="addCourseRequest()">+ Add Course</button>
    <div *ngIf="error" class="alert alert-danger" role="alert">{{errorAlert}}</div>

    <div *ngIf="add" class="container border bg-light regCourse">
      <button type="button" class="btn-close btn-danger" aria-label="Close" (click)="onClose()"></button>
      <div class="row justify-content-center">
        <div class="col-6  mt-3 mb-3">
          <h3>Create a New Course</h3>
          <form (ngSubmit)="onSubmit(f)" #f="ngForm">
            <div class="mb-3 mt-3">
              <label for="idInput" class="form-label">ID</label>
              <input  type="number"
                      class="form-control"
                      id="idInput"
                      ngModel
                      name="id" 
                      required
                      #id="ngModel"
                      placeholder="0000">
              <span class="error-text" *ngIf="!id.valid && id.touched">ID is required</span>
            </div>
            <div class="mb-3">
              <label for="nameInput" class="form-label">Name</label>
              <input  type="text" 
                      class="form-control" 
                      id="nameInput" 
                      [ngModel]="name.value |lowercase" 
                      name="name" 
                      required
                      #name="ngModel"
                      placeholder="maths">
              <span class="error-text" *ngIf="!name.valid && name.touched">Name is required</span>
            </div>
            <button type="submit" class="btn btn-primary " [disabled]="!f.valid" >Submit</button>
          </form>
        </div>
      </div>
    </div>
  </body>