<h1>Registration</h1> 
<hr>
<div class="row g-3 align-items-center ">
        <div class="col-auto"><label class="col-form-label">&nbsp;Username</label></div>
        <div class="col-auto">
          <input type="text" class="form-control" [(ngModel)] = "username" >
        </div>
</div>
<br>
<div class="row g-3 align-items-center">
    <div class="col-auto"><label class="col-form-label">&nbsp;Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label></div>
    <div class="col-auto">
      <input type="text" class="form-control" [(ngModel)] = "email" >
    </div>
</div>
<br>
<div class="row g-3 align-items-center">
    <div class="col-auto"><label class="col-form-label">&nbsp;Password</label></div>
    <div class="col-auto">
      <input type="text" class="form-control" [(ngModel)] = "password" >
    </div>
</div>
<br>
<button type="button" class="btn btn-primary" (click)="addUser()">Create Account</button>
<hr>

<table *ngIf="created" class="table table-striped">
    <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Username</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users">
            <td>{{users.indexOf(user) + 1}}</td>
            <td>{{user.Username}}</td>
            <td>{{user.Email}}</td>
            <td>{{user.Password}}</td>
        </tr>
           
      </tbody>
</table>