<nav class="navbar navbar-dark bg-dark navbar-expand-lg fixed-top pt-2">
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link active"  [routerLink]="['/']" routerLinkActive="router-link-active"><span class="navbar-brand mb-0 h1" >SE University</span></a>
        <a class="nav-item nav-link active"  [routerLink]="['/Students']" routerLinkActive="router-link-active">Students<!--<span class="sr-only">(current)</span>!--></a>
        <a class="nav-item nav-link active"  [routerLink]="['/Courses']" routerLinkActive="router-link-active"     >Courses</a>
        <a class="nav-item nav-link active"  [routerLink]="['/Enrollments']" routerLinkActive="router-link-active" >Enrollments</a>
        <!--<a class="nav-item nav-link" href="#">Features</a>!-->
      </div>
    </div>
</nav>
<header class="py-5 bg-image-full" style="background-image: url('https://source.unsplash.com/wfh8dDlNFOk/1600x900')">
  <div class="text-center my-5">
      <img class="img-fluid rounded-circle mb-4" src="https://microbiome.uci.edu/files/2020/07/Grad-Student-Icon-150x150.png"
      alt="Student Logo" />
      <h1 class="text-white fs-3 fw-bolder">SE University</h1>
  </div>
</header>

<router-outlet></router-outlet>

<footer class="py-5 bg-dark ">
  <div class="container"><p class="m-0 text-center text-white">Copyright &copy; SE University 2021</p></div>
</footer>