.enrollementsTable{
    margin: auto;
    width: 60%;
    padding: 10px;
}
body {  
    padding-top: 1%; 
}
.addEnrollement, .alert{
    margin-left: 20%;
    width: 60%;
    padding: 10px;
}
.alert{
    margin-top: 15px; 
}
.regEnrollement{
    margin-top: 5%; 
    margin-bottom: 5%; 
    width: 60%;

}
input.ng-invalid.ng-touched{
    border: 1px solid #ce5a5a;
   }
.error-text{
    color: #ce5a5a;
   }
.form-submit, .form-reset{
    margin:0 0.2rem
}
input.ng-invalid.ng-touched{
    border: 1px solid #ce5a5a;
   }    